body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 18px;
    scrollbar-width: thin;
}

a,
a:visited {
    color: #154bb8;
}

h1 {
    font-size: 3em;
    margin: 5px 0 30px 0px;
    border-bottom: #ffbb00 2px solid;
    padding: 10px;
    background-color: #232323;
}

content {
    padding: 20px 15px;
    max-width: 900px;
    margin: 0 auto;
    display: block;
}

input,
button,
.button-like,
textarea {
    font-size: 18px;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    outline: none;
}

input,
textarea {
    background-color: #2e2e2e;
    color: #f5f5f5;
    border: 1px solid #555;
    transition: border 0.2s;
}

form * {
    padding-top: 10px;
}

input:focus,
textarea:focus {
    border-color: #ffbb00;
}

button,
.button-like {
    background-color: #ffbb00;
    color: #1e1e1e;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
    border-radius: 8px;
}

button:hover,
.button-like:hover {
    background-color: #ffc966;
}

select {
    font-size: 18px;
    padding: 10px 16px;
    margin: 10px 10px 0 0;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #2e2e2e;
    color: #f5f5f5;
    outline: none;
    transition: border 0.2s, background-color 0.2s;
    cursor: pointer;
}

select:focus {
    border-color: #ffbb00;
    background-color: #333;
}

select option {
    background-color: #2a2a2a;
    color: #f5f5f5;
    border-radius: 0;
}

.results-box {
    font-family: monospace;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #555;
    margin-top: 20px;
    display: none;
    white-space: preserve-spaces;
    word-wrap: anywhere;
}

.note-container {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 6px;
    width: 100%;
}

pre {
    background: #f8f8f823;
    padding: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.control-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 100%;
    }

    button {
        min-width: 120px;
    }

    * {
        margin: 0 10px 0 0;
    }

    *:last-child {
        margin: 0;
    }
}

.main-menu {
    display: flex;
    min-width: 100px;
    min-height: 70px;
    overflow-x: auto;

    * {
        margin: 0 10px 0 0;
    }

    *:last-child {
        margin: 0;
    }
}