<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/scroll.css">
    <title>uA4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <content>
        <h1>uA4</h1>
        <div class="main-menu">
            <button onclick="window.location='/conn'">your connection</a>
            <button onclick="window.location='/dig'">dig</a>
            <button onclick="window.location='/whois'">whois</a>
            <button onclick="window.location='/codedecode'">code/decode</a>
            <button onclick="window.location='/beautify'">JSON beautify</a>
            <button onclick="window.location='/wakelock'">wake lock</a>
            <button onclick="window.location='/note'">note</a>
            <button onclick="window.location='/qr'">qr code</a>
        </div>
        <p style="position: absolute; bottom: 2px;">Your IP is <span style="font-size: 1.3em;">{{ .IP }}</span></p>
    </content>
</body>

</html>
