<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>uA4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
    body {
        font-size: 14px;
    }
    </style>
</head>
<body>
    <content>
        <h1>uA4</h1>
        <p>Your IP is <span style="font-size: 1.3em;">{{ .IP }}</span>
        <p style="margin-top: 20px;">
            <a class="button-like" href="/conn">your connection</a>
            <a class="button-like" href="/dig">dig</a>
            <a class="button-like" href="/whois">whois</a>
            <a class="button-like" href="/codedecode">code/decode</a>
        </p>
    </content>
</body>

</html>
