<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>uA4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
    body {
        font-size: 14px;
    }
    </style>
</head>
<body>
    <content>
        <h1>uA4</h1>
        <p>Your IP is <span style="font-size: 1.3em;">{{ .IP }}</span>
        <div class="main-menu">
            <button onclick="window.location='/conn'">your connection</a>
            <button onclick="window.location='/dig'">dig</a>
            <button onclick="window.location='/whois'">whois</a>
            <button onclick="window.location='/codedecode'">code/decode</a>
            <button onclick="window.location='/beautify'">JSON beautify</a>
            <button onclick="window.location='/wakelock'">wake lock</a>
        </div>
    </content>
</body>

</html>
