<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Whois</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <content>
        <h1>Whois</h1>
        <div class="control-bar">
            <input id="url" type="url">
            <button onclick="whois()">Submit</button>
        </div>
        <div class="results-box" id="response"></div>
    </content>
    <script>
        document.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault()
                whois()
            }
        })
        async function whois() {
            const URL = document.getElementById("url").value
            const response = document.getElementById("response")
            response.style.display = 'block'
            response.innerText = "Fetching..."
            r = await fetch(`/api/whois?host=${URL}`)
            responseText = r.ok? await r.text() : "could not get response"
            response.innerText = responseText
        }
    </script>
</body>

</html>