<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Whois</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
    body {
        font-size: 14px;
    }
    </style>
</head>
<body>
    <div class="container">
        <h1>Whois</h1>
        <input id="url" type="url">
        <button onclick="whois()">Submit</button>
        <p style="font-family: monospace;" id="response"></p>
    </div>
    <script>
        async function whois() {
            const URL = document.getElementById("url").value
            const response = document.getElementById("response")
            response.innerText = "Fetching..."
            r = await fetch(`/api/whois?host=${URL}`)
            responseText = await r.text()
            response.innerText = responseText
        }
    </script>
</body>

</html>